
<div class="container col-xs-12 col-md-12" id="container-total">
  <div class="container" id="containerPrimario" >
    <div class="row" id="row1">
      <div class=" col-md-2"></div>
        <div class="col-xs-12   col-md-8 " >
          <div class="colCentral" style="background: rgba(0,0,0,.85); border-radius: 18px;margin:auto;padding: 50px;">
            <h1 style="font-size:30px;"><stong>Encuentra las estrategias más efectivas para emprender e innovar, 100% prácticas, basadas en experiencia real, no bullshit!</strong></h1>
             <hr>
            <h2 style="font-size:15px; line-height: 30px"> <span>Concretas, </span> <span>Aplicables,</span> <span>en Español</span></h2>
            <div>


              <%= form_tag(strategies_path, :method => "get", id: "search-form") do %>
              <div class="input-group">
                    <%= text_field_tag :keyword, params[:keyword], autofocus: true, placeholder: "escribe palabras relacionadas con lo que quieres aprender", class: "form-control"%>
                    <span class="input-group-btn">
                    <%= submit_tag("buscar", class: "btn btn-primary") %>
                    </span>
              </div>
              <% end %>
            </div>
          </div> <!--termina div colcentral -->
        </div> <!-- div col8 finaliza -->
        <div class="col-md-2"></div>
      </div>
    </div><!--termina el row1-->
  </div><!--termina container primario-->
</div><br><br>

<div class="container col-xs-12 col-md-12">

<%= render "strategies_landing_show" %>

</div>

<div id="ourApproach" style="background-color:#F7F7F7" class="col-xs-12 col-md-12">
  <div class="container" id="secondContainer" >
      <div class="row" style="padding: 20px">
        <h3>encontrarás información práctica para</h3><hr>
          <div class="col-sm-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qegz74-0vzY" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class=row id="contentdescription">
              <div class="col-sm-6">
                <ul>
                  <h5><span class="icon-include"></span>Identificar oportunidades de innovación</h5  >
                  <h5><span class="icon-include"></span>Generar y validar modelos de negocio</h5>
                  <h5><span class="icon-include"></span>Implementar investigaciones de usuario</h5>
                  <h5><span class="icon-include"></span>Integrar metodologías ágiles de desarrollo de producto y de mercado</h5>
                  <h5><span class="icon-include"></span>Aumentar las ventas y hacer crecer tu negocio</h5>
                  <h5><span class="icon-include"></span>Validar y desarrollar nuevos negocios</h5>
                  <h5><span class="icon-include"></span>Resolver problemas de negocio a través de herrmaientas de innovación </h5>
                  <h5><span class="icon-include"></span>Perfilar clientes para el desarrollo de nuevos negocios y optimizar los existentes</h5>
                  <h5><span class="icon-include"></span>Crear y validar propuestas de valor que atienden necesidades reales </h5>
                </ul>
              </div>
          </div><!--contentdescription 1-->
      </div>
  </div>
</div>
<!-- </div> <! --> <!-- finaliza container video -->




<div class="col-xs-12  col-md-12 ">
  <div class="#" id="#">
    <div class="container-fluid" id="#">
      <div class=row>
        <div class="col-xs-12" style="text-align:center" >
           <h3>No te quedes atrás. Consulta diariamente tu fuente de refencia para tomar decisiones inteligentes relacionadas con  innovación y emprendimiento</h3>
        </div>
      </div><!--finaliza row1-->
  <!--inicia ultimo container para signup o signin -->
    </div>
    <div class="callToAction">
        <div class="container">
         <div class="row">
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <%= link_to"suscribirme", new_user_registration_path, class: "btn btn-success btn-lg btn-block", style: "color:white" %>
                <h6><%= link_to"ya tengo una cuenta, ingresar a mi cuenta", new_user_session_path, id: "link_pago",  style: "color:grey" %></h6>

            </div>

          </div>
           <div class="col-sm-2"></div>
        </div>
    </div>
  </div>
</div>

<div class="col-xs-12  col-md-12 ">
  <footer style=  "margin-top:40px">
        <div class="container">
          <div class="row" >
            <div class="col-xs-12 col-md-6">
            <%= link_to "política de privacidad y términos de servicio", landing_page_privacyandterms_path, style: "color:#bdc3c7", id: "link_pago"  %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p><small style="color:#bdc3c7">Copyright &copy; 2015 Nayib Abdalá</small> </p>
            </div>
            <!-- <div class="col-sm-6 col-md-4">
                <p><a href="#">Twitter</a><span>
                <a href="#">LinkedIn</a>
            </div><!end col-sm-3 -->
          </div> <!-- end row -->
  </footer>
</div>

<!--
<h2>Los aseores en innovación y emprendimiento</h2>
<h3>Utilizan Innovation Lessons para:</h3>
<p>actualizar las herrmaientas, procesos, metodologías y recomendaciones que utilizan con sus clientes</p>
<p>mantenerce actualizados y a la vanguardia respecto a negocios, emprendimiento e innovación</p>
<p>consultar las estrategias que se están implementando en la actualidad para brindar a sus clientes  conocimiento práctico y efectivo que ayuda a alcanzar los resultados de empresas y startups</p>
<p>Ahorrar tiempo y dinero con la posibilidad de consultar una sola fuente de información que agrupa lo mejor de las estrategias y fuentes top del mundo relacionadas con innovación y emprendimiento</p>

<h2>Los estudiantes</h2>
<h3>Utilizan Innovation Lessons para:</h3>
<p>tomar decisiones en la búsqueda de soluciones a retos académicos presentes en carreras relacionadas con el mundo de los negocios, la innovación y el emprendimiento</p>
<p>Tomar decisiones relacionadas con su emprendimiento o trabajo de grado actual</p>
<p>mantenerce actualizados y a la vanguardia respecto a negocios, emprendimiento e innovación</p>
<p>desarrollar competencias prácticas para la toma decisiones en el campo empresarial</p>

<h2>La profesionales de las empresas</h2>
<h3>Utilizan Innvoation Lessons para:</h3>
<p>Tomar decisiones de negocio acertadas fundamentadas en una fuente de refrencia confiable, práctica y actualizada</p>
<p>Aumentar su productividad generando propuestas disruptivas que llevan su desempeño y reconocimiento profesional al máximo nivel,  para alcanzar el éxito en su carrera</p>
<p>Mantenerse actualizados y a la vanguardia respecto a las estrategias, herrmaientas, procesos y metodologías que utilizan profesionales y empresarios exitosos</p>
-->



