<p id="notice"><%= notice %></p>

<div class="container" style="margin-bottom:30px">
  <div >
  <% if user_signed_in? && current_user.admin?%>
    <%= link_to 'edit', edit_strategy_path(@strategy),style:"float:right",class: "btn btn-info" %>
    <%= link_to 'back to all strategies', strategies_path,style:"float:right",class: "btn btn-default" %>
  <% end %>
  </div>
</div>

<div class="container" style="line-height:1.8;"> <!--inicia contenido show -->
  <div class="row">
    <div class="col-md-7" style = "text-align:left" >
          <h2> <strong> <%= @strategy.title %> </strong> </h2>
          <h6>fecha de publicación |<%= @strategy.date%> <h6><!--fecha <-->
          <% if @strategy.servicetype === "Gratuita" %>
              <h6 style="color: #7f8c8d"><%=@strategy.servicetype%></h6>
            <% elsif @strategy.servicetype === "Miembros" %>
              <h6 style="color: #2980b9"><%=@strategy.servicetype%></h6>
            <% elsif @strategy.servicetype === "SuscriptoresPro" %>
              <h6 style="color:green"><%=@strategy.servicetype%></h6>
          <% end %> <br>

          <div div class="line-height-custom" >

            <%= @strategy.intro.html_safe %><!--contenido -->
          </div>
          <hr>
           <script src="//platform.linkedin.com/in.js" type="text/javascript">
            lang: es_ES
          </script>
          <script type="IN/Share" ></script>
          <%= link_to "", "http://twitter.com/home?", class: "twitter-share-button", data: {url:"http://www.innovationlessons.com/strategies/#{@strategy.id}", text: "Revisen esta estrategia de @InnoLessons, está buenísima", lang: "es", count: "none"}  %>
          <!-- script tweet-->
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <hr>


          <% @strategy.tips.order("created_at asc").each do |tip| %>
          <h3> <strong> <%= tip.tip_title %> </strong> </h3> <br>
          <div class="line-height-custom"> <%= tip.content.html_safe %></div>
          <hr>
        <% end -%>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4" style="text-align:right" >

        <% @strategy.authors.each do |author| %>
          <h4>vía - <%= author.name %> - </h4><hr>
          <%= image_tag author.image.url(:thumb), size: "100x100", style: "border-radius: 50%" %>
          <p><small><em><%= author.bio.html_safe %></em></small></p>
        <% end -%>

        <section> <!-- mailing list -->
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup" >
          <form action="//leaninnovationgroup.us7.list-manage.com/subscribe/post?u=427d6776208a7a54c118080ef&amp;id=bdb98f5643" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" style="font-size:27px">Recibe  estrategias prácticas todas las semanas</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="ingresa tu email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_427d6776208a7a54c118080ef_bdb98f5643" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Recibir estrategias" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
              </div>
          </form>
          </div>
        </section>
  <!--End mc_embed_signup-->
    </div>
  </div>
</div> <!--termina contenido show -->

<div class="container" style="line-height:1.8; margin-bottom: 60px;">
    <div class="row">
        <div class="col-md-12 btn-bottom">
            <h4>quieres seguir aprendiendo?</h4>
            <%#= link_to 'siguiente estrategia', #"ruta por id",class: "btn btn-default" %>

              <%= link_to 'leer más estrategias', strategies_path, class: "btn btn-default"%>

              <%#=link_to 'acceder a estrategias pro', suscriptors_new_path, class: "btn btn-info"%>


        </div>


    </div>
</div>







