    <nav class="navbar navbar-inverse navbar-fixed-top col-md-12" style="background-color: black" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color:#46b8da">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if user_signed_in? %>
            <%=link_to "Nayib Abdalá", strategies_path , class: "navbar-brand", style: "color:#46b8da" %>
          <% else %>
            <%=link_to "Nayib Abdalá", root_path , class: "navbar-brand", style: "color:#46b8da" %>
          <%end%>
        </div> <!-- nav-header -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% unless user_signed_in? %>
              <li><%= link_to"Para Empresas", landing_page_landing_corporate_path, id: "text-nav-bar"%></li>
              <li><%= link_to"Para Universidades", landing_page_landing_universities_path, id: "text-nav-bar"%></li>
              <li><%= link_to"Iniciar Sesión", new_user_session_path, id: "text-nav-bar"%></li>
              <li><%= link_to"Suscribirme", new_user_registration_path, id: "text-nav-bar" %></li>
            <% end %>
            <% if user_signed_in? %>
              <li class="dropdown">
                <%#= link_to,'#', current_user.name,  %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Mi cuenta <strong class="caret"></strong></a>

                <ul class="dropdown-menu">
                <!--<li>
                  <a href="#"><span class="glyphicon glyphicon-wrench"></span> Configuración</a>
                </li> -->

                  <li><%= link_to " actualizar perfil", edit_user_registration_path, class: "glyphicon glyphicon-refresh"%></li>

                  <li class="divider"></li>

                  <li><%= link_to " cerrar sesión", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-off" %></li>

                </ul>
              </li>
            <% end %>
          </ul>

        </div> <!-- #id=navbar -->
      </div><!-- container-fluid -->
    </nav><!-- nav -->

<!-- <div >
          <div class="input-group" style="margin-top: 9px">
            <input type="text" class="form-control" placeholder="de que quieres aprender hoy...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">buscar!</button>
            </span>
          </div>/input-group -->


