<!DOCTYPE html>
<html>
<head>
  <title>NewIlApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br><br><br>

<%= render 'layouts/dashboardheader' %> <br>

<div class="container">
  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-warning") %>
  <% end %>
</div>

     <div class="container">
        <div class="page-header">
          <h4>Platform Administration</h4>
          <p>Welcome to the ContentManager pannel. Chose from the menu in the bar above to create, edit, update and delete strategies, authors or categories.</p>
        </div>
      </div>
      <div class="container">

           <%= yield %>


      </div>
</body>